*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #b993d6, #8ca6db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  position: relative;
}


main{
  margin: auto;
  background-color: #333946;
  width: 800px;
  height: 600px;
  display: grid;
  grid-template-rows: repeat(3, 33%);
  grid-template-columns: repeat(4, 25%);
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.card {
  background-color: transparent;
  padding: 20px;
  width: 200px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  cursor:pointer;
}


/* Position the front and back side */
.card-front, .card-back {
  position: absolute;
  padding: 20px;
  width: 80%;
  height: 80%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.card-back {
  background-color: dodgerblue;
  color: white;
}

.clickedCard .clickedCardBack{
  transform: rotateY(180deg);
}


p{
  display: none;
  position: absolute;
  width: 800px;
  height:65px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(90, 226, 0);
}