*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #b993d6, #8ca6db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
}


main{
  margin: auto;
  background-color: #333946;
  width: 800px;
  height: 600px;
  display: grid;
  grid-template-rows: repeat(3, 33%);
  grid-template-columns: repeat(4, 25%);
}

